.suggestions {
  list-style: none;
  max-height: 143px;
  overflow-y: auto;
  padding-inline-start: 0;
  border: 1px solid #777;
  border-top-width: 0;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #777;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #777;
}
